<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${titulo}"></title>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
	integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
	crossorigin="anonymous">
</head>
<body>
	<h3 th:text="${titulo}"></h3>
	<div class="container">
		<form th:action="@{/form}" method="post" th:object="${usuario}">

			<div class="form-group row">
				<label class="col-form-label col-sm-2" for="habilitar">Habilitar</label>

				<div class="row col-sm-4">
					<input class="form-control col-sm-1" type="checkbox" id="habilitar"
						th:field="*{habilitar}" />
				</div>
			</div>

			<div class="form-group row">

				<label class="col-form-label col-sm-2" >Genero</label>

				<div class="row col-sm-4">
					<input class="form-control col-sm-2" type="radio" id="genero1"
						th:field="*{genero}" value="Hombre" /> <label class="col-form-label col-sm-2" for="genero1">Hombre</label>
				</div>
				<div class="row col-sm-4">
					<input class="form-control col-sm-2" type="radio" id="genero2"
						th:field="*{genero}" value="Mujer" /> <label  class="col-form-label  col-sm-2"  for="genero2">Mujer</label>
				</div>
				<div class="alert alert-danger" th:if="#{fields.hasErrors('genero')}" th:errors="*{genero}"></div>
			</div>

			<div class="form-group row">
				<label class="col-form-label col-sm-2" for="pais">pais</label>

				<div class="col-sm-4">
					<Select class="form-control" id="pais" th:field="*{pais}">
						<option value="">Seleccionar pais</option>
						<!--  <option th:each="pais : ${paisesMap.entrySet()}" th:text="${pais.value}" th:value="${pais.key}" >-->
						<option th:each="pais : ${listaPaises}" th:text="${pais.nombre}"
							th:value="${pais.id}"></option>

					</select>
				</div>
				<div class="alert alert-danger" th:if="#{fields.hasErrors('pais')}" th:errors="*{pais}"></div>
			</div>

			<div class="form-group row">

				<label class="col-form-label col-sm-2" >Roles</label>

				<div class="row col-sm-2" th:each="role : ${listaRoles}">
					<input class="form-control col-sm-2" type="checkbox" th:field="*{roles}"
						th:value="${role.id}" /> <label class="col-form-label col-sm-2" th:text="${role.nombre}"
						th:for="${#ids.prev('roles')}"></label>
				</div>
				<div class="alert alert-danger" th:if="#{fields.hasErrors('roles')}" th:errors="*{roles}">
				</div>
			</div>


			<div class="form-group row">

				<label class="col-form-label col-sm-2" for="identificador">identificador</label>

				<div class="col-sm-4">
					<input class="form-control" type="text" name="identificador"
						id="identificador" th:field="*{identificador}" />
				</div>
				<div class="alert alert-danger" th:if="#{fields.hasErrors('identificador')}"
					th:errors="*{identificador}"></div>
			</div>


			<div class="form-group row">
				<label class="col-form-label col-sm-2" for="nombre">nombre</label>

				<div class="col-sm-4">
					<input class="form-control" type="text" name="nombre" id="nombre"
						th:field="*{nombre}" />
				</div>
				<div class="alert alert-danger" th:if="#{fields.hasErrors('nombre')}" th:errors="*{nombre}">
				</div>
			</div>


			<div class="form-group row">
				<label  class="col-form-label col-sm-2" for="apellido">apellido</label>

				<div class="col-sm-4">
					<input class="form-control" type="text" name="apellido"
						id="apellido" th:field="*{apellido}" />
				</div>
				<div class="alert alert-danger" th:if="#{fields.hasErrors('apellido')}" th:errors="*{apellido}">
				</div>
			</div>

			<div class="form-group row">
				<label class="col-form-label col-sm-2"  for="username">Username</label>

				<div class="col-sm-4">
					<input class="form-control" type="text" name="username"
						id="username" th:field="*{username}" />
				</div>
				<div class="alert alert-danger" th:if="#{fields.hasErrors('username')}" th:errors="*{username}">
				</div>
			</div>
			<div class="form-group row">
				<label class="col-form-label col-sm-2" for="password">Password</label>

				<div class="col-sm-4">
					<input class="form-control" type="password" name="password"
						id="password" th:field="*{password}" />
				</div>
				<!--  <div th:if="${error !=null && error.containsKey('password')}" th:text="${error.password}"> -->
				<div class="alert alert-danger" th:if="#{fields.hasErrors('password')}" th:errors="*{password}">
				</div>
			</div>
			<div class="form-group row">
				<label class="col-form-label col-sm-2" for="email">Email</label>

				<div class="col-sm-4">
					<input class="form-control" type="text" name="email" id="email"
						th:field="*{email}" />
				</div>
				<!--  <div th:if="${error !=null && error.containsKey('email')}" th:text="${error.email}"> -->
				<div class="alert alert-danger" th:if="#{fields.hasErrors('email')}" th:errors="*{email}">
				</div>

			</div>

			<div class="form-group row">
				<label class="col-form-label col-sm-2" for="cuenta">Cuenta</label>

				<div class="col-sm-4">
					<input class="form-control" type="number" name="cuenta" id="cuenta"
						th:field="*{cuenta}" />
				</div>
				<!--  <div th:if="${error !=null && error.containsKey('cuenta')}" th:text="${error.cuenta}"> -->
				<div class="alert alert-danger" th:if="#{fields.hasErrors('cuenta')}" th:errors="*{cuenta}">
				</div>

			</div>

			<div class="form-group row">
				<label class="col-form-label col-sm-2" for="fechaNacimiento">fecha Nacimiento</label>

				<div class="col-sm-4">
					<input class="form-control" type="date" name="fechaNacimiento"
						id="fechaNacimiento" th:field="*{fechaNacimiento}"
						placeholder="yyyy/MM/dd" />
				</div>
				<!--  <div th:if="${error !=null && error.containsKey('fechaNacimiento')}" th:text="${error.fechaNacimiento}"> -->
				<div class="alert alert-danger" th:if="#{fields.hasErrors('fechaNacimiento')}"
					th:errors="*{fechaNacimiento}"></div>

			</div>

			<div class="form-group row">
				<input class="btn btn-primary" type="submit" value="Enviar" />

			</div>
			<input type="hidden" th:field="*{valorSecreto}">

		</form>
	</div>


</body>
</html>