<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- Ejemplo de dedinir un bean -->
	<bean id="saludator" 
	class="com.icaballero.app.beans.Saludator">
	 <!--  Inyectamos el valor desde el setter -->
		<property name="mensaje" 
		value="Hola a todos mi nombre es Ismael!!"></property>
	</bean>


</beans>
