<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel='stylesheet' href='/webjars/bootstrap/4.5.0/css/bootstrap.min.css'>
	<script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
	<script src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
	<style>
		table , form {
			margin:20px;
		}
	</style>
	<script type="text/javascript">
	
		$(document).ready(function () {
						//alert("hola");
			
			$.get("http://localhost:8080/webapi/personas", function(listaPersonas) {
				
				console.log(listaPersonas);
				
				//Recorremos la lista
				listaPersonas.forEach(function(persona) {
					//añadimos la respuest del servicio a la tabla usando la plantilla
					$("table").append(plantillaTabla(persona));
				});
			});
			
		})
	
		function plantillaTabla(persona) {
			//ES6
			var plantilla =
			`<tr>
				<td>${persona.nombre}</td>
				<td>${persona.apellidos}</td>
				<td>${persona.edad}</td>
			</tr>`
			
			return plantilla;
		}
		
		
	</script>
</head>
<body>
	<table>

	</table>

</body>
</html>